# üìö Importaci√≥n de librer√≠as

In [46]:
# Para manipular datos
import pandas as pd
import numpy as np

In [47]:
# Para manejar ficheros
import os

# üìÇ Importaci√≥n de datos

In [48]:
# Configuraci√≥n de rutas
file_path = os.getcwd()
file_name = 'tienda'
folder_name = 'datos'
extension = '.csv'

# Lista que guardar√° los dfs
lista_dfs = []

# Cargamos los dfs
for i in range(1,5): # de 1 a 4
    path_base = os.path.join(file_path, folder_name, file_name + str(i) + extension)
    lista_dfs.append(pd.read_csv(path_base))

# üîç Exploraci√≥n de los datos

Las 4 tiendas tienen la misma estructura por lo que podemos unifircarlas en un solo df

In [49]:
# Agregar columna identificadora a cada df
lista_dfs[0]['Tienda'] = 'Tienda_1'
lista_dfs[1]['Tienda'] = 'Tienda_2'
lista_dfs[2]['Tienda'] = 'Tienda_3'
lista_dfs[3]['Tienda'] = 'Tienda_4'

In [50]:
# Concatenaci√≥n los df
df = pd.concat(lista_dfs, ignore_index=True)

In [51]:
# Resultado
df.head()

,Producto,Categor√≠a del Producto,Precio,Costo de env√≠o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci√≥n,M√©todo de pago,Cantidad de cuotas,lat,lon,Tienda
0,Asistente virtual,Electr√≥nicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogot√°,4,Tarjeta de cr√©dito,8,4.60971,-74.08175,Tienda_1
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medell√≠n,1,Tarjeta de cr√©dito,4,6.25184,-75.56359,Tienda_1
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de cr√©dito,1,10.39972,-75.51444,Tienda_1
3,Microondas,Electrodom√©sticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250,Tienda_1
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medell√≠n,5,Nequi,1,6.25184,-75.56359,Tienda_1

In [52]:
# Informaci√≥n sobre tipo de dato y valores nulos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9435 entries, 0 to 9434
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                9435 non-null   object
 1   Categor√≠a del Producto  9435 non-null   object
 2   Precio                  9435 non-null   float64
 3   Costo de env√≠o          9435 non-null   float64
 4   Fecha de Compra         9435 non-null   object
 5   Vendedor                9435 non-null   object
 6   Lugar de Compra         9435 non-null   object
 7   Calificaci√≥n            9435 non-null   int64
 8   M√©todo de pago          9435 non-null   object
 9   Cantidad de cuotas      9435 non-null   int64
 10  lat                     9435 non-null   float64
 11  lon                     9435 non-null   float64
 12  Tienda                  9435 non-null   object
dtypes: float64(4), int64(2), object(7)
memory usage: 958.4+ KB

# üßÆ An√°lisis de facturaci√≥n

In [68]:
# Agrupamos por tienda y sumamos los valores de la columna Precio
df_facturacion = df.groupby(by='Tienda')['Precio'].sum().reset_index()

In [72]:
# Formato local (Argentina)
def formato_arg(numero):
    return f'{numero:,.2f}'.replace(',', 'X').replace('.', ',').replace('X', '.')

In [88]:
# Resultado
def print_reporte(df):
    print("\n" + "="*50)
    print("üè™ INGRESO TOTAL POR CADA TIENDA".center(50))
    print("="*50 + "\n")
    
    for index, row in df.iterrows():
        tienda = '‚óæ ' + row['Tienda']
        ventas = formato_arg(row['Precio'])
        print(f"{tienda:15} ‚Üí $ {ventas:>20}")
    
    print("\n" + "-"*50)
    total_general = df['Precio'].sum()
    print(f"{'‚óæ TOTAL GENERAL':15} ‚Üí $ {formato_arg(total_general):>20}")
    print("="*50 + "\n")

print_reporte(df_facturacion)

==================================================
         üè™ INGRESO TOTAL POR CADA TIENDA
==================================================

‚óæ Tienda_1      ‚Üí $     1.150.880.400,00
‚óæ Tienda_2      ‚Üí $     1.116.343.500,00
‚óæ Tienda_3      ‚Üí $     1.098.019.600,00
‚óæ Tienda_4      ‚Üí $     1.038.375.700,00

--------------------------------------------------
‚óæ TOTAL GENERAL ‚Üí $     4.403.619.200,00
==================================================

# üí∏ Ventas por categor√≠a

In [101]:
# Agrupamos por categor√≠a y sumamos los productos
df_categoria = pd.crosstab(df['Tienda'], df['Categor√≠a del Producto'], margins=True, margins_name='Total')

In [102]:
# Resultado
print("\n" + "="*110)
print("üì¶ CANTIDAD DE PRODUCTOS VENDIDOS".center(110))
print("="*110 + "\n")

df_categoria.head()

==============================================================================================================
                                       üì¶ CANTIDAD DE PRODUCTOS VENDIDOS
==============================================================================================================

Categor√≠a del Producto,Art√≠culos para el hogar,Deportes y diversi√≥n,Electrodom√©sticos,Electr√≥nicos,Instrumentos musicales,Juguetes,Libros,Muebles,Total
Tienda,,,,,,,,,
Tienda_1,171,284,312,448,182,324,173,465,2359
Tienda_2,181,275,305,422,224,313,197,442,2359
Tienda_3,177,277,278,451,177,315,185,499,2359
Tienda_4,201,277,254,451,170,338,187,480,2358
Total,730,1113,1149,1772,753,1290,742,1886,9435